<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tju.elm.point.mapper.PointsTransactionMapper">

    <resultMap id="BaseResultMap" type="com.tju.elm.point.zoo.pojo.entity.PointsTransaction">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="account_id" property="accountId"/>
        <result column="transaction_type" property="transactionType"/>
        <result column="points_source" property="pointsSource"/>
        <result column="points_change" property="pointsChange"/>
        <result column="points_balance" property="pointsBalance"/>
        <result column="expire_time" property="expireTime"/>
        <result column="related_order_id" property="relatedOrderId"/>
        <result column="related_food_id" property="relatedFoodId"/>
        <result column="related_rule_id" property="relatedRuleId"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="update_time" property="updateTime"/>
        <result column="updater" property="updater"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM points_transaction
        <where>
            user_id = #{userId} AND is_deleted = 0
            <if test="transactionType != null">
                AND transaction_type = #{transactionType}
            </if>
            <if test="pointsSource != null">
                AND points_source = #{pointsSource}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>

